NODE_ENV=development
PORT=5000

# Base de datos MongoDB Atlas con tus credenciales integradas
MONGO_URI=mongodb+srv://Cristhian_1028:wTye0NOayOruyYN5@asistencia.znq6pog.mongodb.net/iAttend?retryWrites=true&w=majority&appName=Asistencia

# Clave secreta para la autenticación de usuarios (JWT)
JWT_SECRET=secreto_iattend_2026_super_seguro_key

# Credenciales de Cloudinary (para subida de documentos/archivos)
CLOUDINARY_CLOUD_NAME=jbgphgt5
CLOUDINARY_API_KEY=863954579236313
CLOUDINARY_API_SECRET=bGLWUVhXvzJxhcwuwPpNv34D6wY
